
.table {
  width: 100%;
  border: 2px solid $light-gray;
  border-radius: 10px;
  font-size: 1.6rem;
  background-color: $white;
  overflow: auto;

  &__row {
    display: grid;
    grid-template-columns: repeat(2, minmax(80px, 1fr)) 3fr repeat(3, minmax(80px, 1fr));
    gap: 20px;
    width: min-content;
    min-width: 100%;
    border-bottom: 2px solid $light-gray;

    @include desktop-sm {
      grid-template-columns: repeat(2, 1fr) 2fr repeat(3, 1fr);
    }

    &--head {
      padding: 4px 8px;
      color: $gray;
      opacity: 0.8;

      @include tablet-sm {
        padding: 6px 10px;
      }

      @include desktop-sm {
        padding: 6px 20px;
      }
    }

    &--body {
      padding: 5px 10px;
      color: $black;

      @include tablet-sm {
        padding: 5px 10px;
      }

      @include desktop-sm {
        padding: 6px 20px;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    text-align: start;
    text-overflow: ellipsis;

    &--head {
      padding: 5px 2px;
      font-size: 1.2rem;
      font-weight: 600;
    }

    &--body {
      padding: 5px 0;
      font-size: 1rem;
      font-weight: 500;

      @include tablet-sm {
        font-size: 1.1rem;
      }
    }

    &--status {
      padding: 5px 10px;
      border-radius: 15px;
    }

    &--women {
      background-color: $purple-background;
      color: $purple;
    }

    &--men {
      background-color: $blue-background;
      color: $blue;
    }

    &--active {
      background-color: $success-background;
      color: $success;
    }

    &--inactive {
      background-color: $error-background;
      color: $error;
    }
  }
}
