$background: #f5f5f7;
$black: #222326;
$white: #ffffff;
$gray: #858585;
$light-gray:#C8C8CF;

// States
$blue: #2875A8;
$blue-background:#cce0ff33;
$purple: #6F1CA6;
$purple-background: #EEE4F2;
$success: #16c152;
$success-background: #eefdf6;
$error: #f3415e;
$error-background: #fff1f2;